<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd"
	default-lazy-init="true">

	<!-- <bean id="propertyPlaceHolderConfigurer" -->
	<!-- class="com.cloudlinkin.classu.annotations.impl.ExtendedPropertyPlaceholderConfigurer"> -->
	<!-- <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" 
		/> -->
	<!-- <property name="ignoreResourceNotFound" value="true" /> -->
	<!-- <property name="locations"> -->
	<!-- <list> -->
	<!-- <value>classpath:jdbc.properties</value> -->
	<!-- <value>classpath:config.properties</value> -->
	<!-- </list> -->
	<!-- </property> -->
	<!-- </bean> -->

	<bean id="mongoPropertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="locations">
			<list>
				<value>classpath*:conf/testconf.properties</value>
			</list>
		</property>
	</bean>


	<!-- mongodb config DAO&Service -->
	<bean id="mongoClient" class="com.imopan.adv.platform.mongo.MongoClientFactoryBean">
		<property name="host" value="${mongodb.host}" />
		<property name="port" value="${mongodb.port}" />
	</bean>

	<bean id="morphia" class="com.imopan.adv.platform.mongo.MorphiaFactoryBean">
		<property name="packgeScanName" value="com.imopan.adv.platform.test" />
	</bean>

	<bean id="dataStore" class="com.imopan.adv.platform.mongo.DatastoreFactoryBean">
		<property name="mongoClient" ref="mongoClient" />
		<property name="morphia" ref="morphia" />
		<property name="dbName" value="${mongodb.dbname}" />
	</bean>

</beans>